@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    height: 48px;
    width: auto;
}

.header {
    margin: 0 auto;
    padding: 16px;
    position: sticky;
    top: 0;
    text-align: center;
    background: white;
    color: darkgreen;
}

h2 {
    padding: 0 24px;
    text-align: center;
}

a {
    text-decoration: none;
}

.newsletter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 24px auto;
    max-width: 900px;
}

.newsletter-card a button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    border-radius: 8px;
    background: darkgreen;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-card a button:hover {
    transform: scale(1.1);
}

.newsletter-card img {
    width: 100%;
}

#icon {
    width: 32px;
    height: 32px;
}